<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a href="https://github.com/Runexz/Gaming-Scrape" target="_blank" class="navbar-brand">
        <img src="../images/ricon.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-danger scrape-new" type="button">SCRAPE NEW ARTICLES!</button>
        </form>
    </div>
</nav>

<div id="jumbotron" class="jumbotron mt-5 text-center">
    <h1 class="display-2">Gaming Scrape</h1>
    <hr class="my-4">
    <p class="lead">Press the SCARPE NEW ARTICLES button to get the hottest news on Video Gaming!</p>
</div>

<div class="container article-container">
    {{#each articleSchema}}
    <div class="card">
        <div class="card-header">
            <h3 class="mongoid" data-id="{{this._id}}">{{this._id}} &nbsp; <span>Click here to save this article!</span>
            </h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.summary}}</p>
            <a href="https://www.gameinformer.com{{this.link}}" target="_blank">{{this.link}}</a>
            <br>
        </div>
    </div>
    {{/each}}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your Article has been saved! You can view your article on the Saved Articles tab!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card fixed-bottom text-white text-center bg-dark">
    <div class="card-body">
        Ricardo Rodriguez &copy 2019
    </div>
</div>