<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
     <a href="https://github.com/Runexz/Gaming-Scrape" target="_blank" class="navbar-brand">
    <img src="../images/ricon.png" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div id="jumbotron" class="jumbotron mt-5 text-center">
    <h1 class="display-2">Saved Articles</h1>
    <hr class="my-4">
    <p>Here are all the Articles you saved with your notes attached!</p>
</div>

<div class="container article-container">
    {{#each noteSchema}}
    <div class="card">
        <div class="card-header">
            <h3 class="mongoid" data-id="{{this._id}}">{{this._id}} &nbsp; <span>Click here to add a Note!</span></h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.summary}}</p>
            {{!-- <p class="card-text">{{this.link}}</p> --}}
            <a href="https://www.gameinformer.com{{this.link}}" target="_blank">{{this.link}}</a>
            <br>
            <p class="card-text">{{this.note}}</p>
        </div>
    </div>
    {{/each}}
</div>

<div class="card fixed-bottom text-white text-center bg-dark">
    <div class="card-body">
        Ricardo Rodriguez &copy 2019
    </div>
</div>